<div class="jumbotron">
      <a class="btn btn-primary btn-lg" href="{{ url_for('student') }}" role="button"><i class="fa fa-list"> Students </i></a>
      <a class="btn btn-success btn-lg" href="{{ url_for('add_student') }}" role="button"><i class="fa fa-users"> Add Student </i></a>
      <a class="btn btn-primary btn-lg" href="{{ url_for('subject') }}" role="button"><i class="fa fa-list"> Subjects </i></a>
      <a class="btn btn-success btn-lg" href="{{ url_for('add_subject') }}" role="button"><i class="fa fa-book"> Add Subject </i></a>
      <a class="btn btn-dark btn-lg" href="{{ url_for('ratings') }}" role="button"><i class="fa fa-star"> Average Notes </i></a>
      <a class="btn btn-secondary btn-lg" href="{{ url_for('logout') }}" role="button"><i class="fa fa-sign-out"> Logout </i></a>
</div>